<div class="contact-wrapper">
    {% if node.field_contact_image.entity.field_media_image.0.entity.uri.value is not empty %}
        <div class="banner-img">
            {% set contact_img = {
                '#theme': 'responsive_image',
                '#responsive_image_style_id': 'contact_image',
                '#uri':        node.field_contact_image.entity.field_media_image.0.entity.uri.value,
                '#attributes': { class:'' }
            } %}
            {{ contact_img }}
        </div>
    {% endif %}
    <div class="contact-text-wrapper container">
        <div class="contact-wrapper-inner row">
            <h1>{{ node.title.value }}</h1>
            <div class="address">
                {{ node.field_address_1.value|raw }}
            </div>
            <div class="address">
                {{ node.field_address_2.value|raw }}
            </div>
            <div class="address">
                {{ node.field_address_3.value|raw }}
            </div>
            <div class="address">
                {{ node.field_address_4.value|raw }}
            </div>
            <div class="social-icon">
                {{ drupal_entity('block_content',3) }}
            </div>
        </div>
    </div>
    <h2>{{ node.field_form_title.value }}</h2>
    {{ drupal_entity('webform', 'derham_contact_form') }}
</div>
